#paymentForm input[type="text"], #paymentForm textarea,
#paymentForm select {
    outline: none;
    box-shadow:none !important;
}

#paymentForm .form-group { border-bottom: 1px solid #f0f5fa; }

p.instruction {
    top: 68px;
    left: 38%;
    background: #eee;
}

.checkout-cart-table td { border-top: none }
