/**
 * Pagination links - main page
 */
.page-item.active .page-link{
    background: #38b2ac;
    border: 1px solid #38b2ac;
}
.page-item.active .page-link:hover {
    background: #319795;
}

/**
 * Sidebar list items - main page
 */
#filtersList li.active { color: #00C9C6; font-weight: 500;}
#filtersList li.active a:hover { color: #00b3b0; font-weight: 500;}

/**
 * Scrolling banner - welcome page
 */
.scrolling-banner {
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

.scrolling-banner h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    animation: scrolling 30s linear infinite;
 }

 @keyframes scrolling {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
 }

/**
 * Checkout page
 */
table.ordered-items tbody td.no-border { border-top: none; }
table.ordered-items, table.ordered-items thead th,
table.ordered-items tbody td {
    border-color:  #edf2f7 !important
}

/**
 * Profile card - sidebar
 */
.profile-sidebar .profile-usermenu a.active {
    color: #00c9c6;
    font-weight: 500;
    background-color: #f8fafc;
    border-left: 2px solid #00c9c6;
    border-bottom: 1px solid #f0f5fa;
    border-top: 1px solid #f0f5fa;
}

.profile-sidebar .profile-usermenu a {
    border-bottom: 1px solid #f0f5fa;
}

.profile-sidebar .profile-usermenu a.active:hover {
    color: #00b3b0;
}

.profile-card {
    min-height: 450px;
    box-shadow: 0 0 16px rgba(0,0,0,0.3);
}
.profile-card-img {
    height: 175px;
}
.profile-card-img img {
    width: 160px;
    height: 160px;
    top: 51%;
    transition-duration: 0.4s;
    transition-property: transform;
}
.profile-card-img img:hover {
    transform: scale(1.1);
}

/**
 * Product card
 */
.product-card { box-shadow: 0 0 16px rgba(0,0,0,0.3); }
.product-card-body { min-height:220px }

/**
 * Rating box
 */
.rating-box { direction: rtl; }
.rating-box button:hover {
    color: #924049;
    cursor: pointer }
.rating-box button:focus {
    color: #924049 !important;
    outline: none !important;
    box-shadow: none !important;
}
.b1:hover ~ button, .b2:hover ~ button, .b3:hover ~ button,
.b4:hover ~ button, .b5:hover ~ button, .b1:focus ~ button,
.b2:focus ~ button, .b3:focus ~ button, .b4:focus ~ button,
.b5:focus ~ button { color: #924049; }

/**
 * Vertical line
 */
 .product--info { position: relative }
 .product--info::before {
     content: ""; position: absolute; border: 1px solid #eee;
     left: -2rem;  top: 1px; bottom: 1px
 }