table.dataTable thead th, table.dataTable thead td {
    padding-left: 10px;
    border-bottom: none;
    /*background-color: #f9f9f9;*/
}
.dataTables_filter input {
    border: 1px solid #ebedf2 !important;
    height: 32px !important;
    padding: 4px 8px!important;
    margin-bottom: 16px !important;
}
.dataTables_length select {
    height: 32px !important;
    padding: 4px 8px!important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    padding-left: 0px
}
.dataTables_wrapper .row .col-sm-6 { margin: auto; }
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    border-radius: 0;
    background: #81e6d9;
    border: 1px solid #4fd1c5;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #4fd1c5;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before {
    background-color: #38b2ac
}

/**
 * Action buttons
 */
.dataTables_wrapper .row .col-sm-6 {
    margin-top: 8px !important;
}
.dataTables_wrapper .dt-buttons {
  float:none;
  text-align:center;
}
button.dt-button, div.dt-button, a.dt-button {
    color: #a0aec0;
    border: 1px solid #cbd5e0;
    background-image: none;
    background-color: #f8fbfd;
    margin-top: 0px;
}
button.dt-button:hover {
    background-image: none !important;
    background-color: #a0aec0!important;
    color: #f8fbfd !important;
}

